<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="무료 단축 URL,free short url,url,minimize url,free" name="description">
    <meta content="" name="author">

    <title>mlnlma! - m!n!m!ze your ur!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/landing-page.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <style>
        input{
            vertical-align: middle;
        }
    </style>
    <!-- Navigation -->
<!--    <nav class="navbar navbar-light bg-light static-top">-->
<!--        <div class="container">-->
<!--            <a class="navbar-brand" href="#">mlnlmal.ml - minimize your url</a>-->
<!--            <div>-->
<!--                <form id="loginForm" class="form-inline" th:if="${#session == null}">-->

<!--                    <input type="email" class="form-control" name="werewp" aria-describedby="emailHelp" placeholder="Enter email">-->
<!--                    <input type="password" class="form-control" name="nwebvie" placeholder="Password" style="margin-right: 3px;">-->

<!--                    <button type="button" class="btn btn-primary" onclick="login()" style="margin-right: 3px;">Sign In</button>-->
<!--                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--                        Sign Up-->
<!--                    </button>-->
<!--                </form>-->
<!--                <div class="dropdown" th:if="${#session != null}">-->

<!--                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        <i class="fas fa-user"></i>-->
<!--                    </button>-->
<!--                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                        <a class="dropdown-item" href="#">My Info</a>-->
<!--                        <a class="dropdown-item" href="#">My Link</a>-->
<!--                        <a class="dropdown-item" href="#">Noti</a>-->
<!--                    </div>-->
<!--                    <button type="button" class="btn btn-primary" onclick="logout()" >Logout</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
    <!-- Masthead -->
    <header class="masthead text-white text-center" style="padding-top: 5rem;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Life is short, so url is.</h1>
                </div>
<!--                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">-->
<!--                    <form>-->
<!--                        <div class="form-row">-->
<!--                            <div class="col-12 col-md-9 mb-2 mb-md-0">-->
<!--                                <input class="form-control form-control-lg" id="dis" placeholder="Enter your url..."-->
<!--                                       type="text">-->
<!--                            </div>-->
<!--                            <div class="col-12 col-md-3">-->
<!--                                <button class="btn btn-block btn-lg btn-primary" onclick="shrink()" type="button">Make it-->
<!--                                    short!-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->

<!--                </div>-->
                <div class="col-xl-9 mx-auto" style="margin-top: 15px;">
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <textarea class="form-control" id="originUrlList" rows="10" placeholder="Enter URLs like below:&#13;&#10;http://www.example.com/this-is-ugly-longurl(type enter)&#13;&#10;https://www.sample.net/beutify-me"></textarea>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <textarea class="form-control" id="shortUrlList" rows="10" placeholder="http://mlnlmal.ml/bee&#13;&#10;http://mlnlmal.ml/aee" readonly="readonly"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 mx-auto">
                    <div class="row">
                        <div class="col" >
                            <button class="btn btn-block btn-lg btn-primary" onclick="shrinkAll()" type="button">
                                Make it short!
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-xl-9 mx-auto" style="margin-top: 15px;">
                    <h4 class="jumbo" id="myTargetElement" style="display: inline;"></h4>
                    <h4 style="display: inline;">&nbsp&nbsp&nbsp&nbsp</h4>
                    <h4 class="jumbo" id="clkcnt" style="display: inline;"></h4>
                </div>
            </div>

        </div>
    </header>
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-link m-auto text-primary"></i>
                        </div>
                        <h3 onclick="">보기 편한 URL</h3>
                        <p class="lead mb-0">기~~인URL 보기 편하게 짧게!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-control-forward m-auto text-primary"></i>
                        </div>
                        <h3>만들기 편한 URL</h3>
                        <p class="lead mb-0">여러개의 URL도 한 번 클릭으로 단축!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-chart m-auto text-primary"></i>
                        </div>
                        <h3>분석이 편한 URL</h3>
                        <p class="lead mb-0">단축 URL 클릭통계!</p>
                        <p class="lead mb-0">(별도문의)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <script src="https://ads-partners.coupang.com/g.js"></script>
                    <script>
                        new PartnersCoupang.G({ id:55818 });
                    </script>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="https://devveb.github.io" target="_blank">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; mlnlmal.ml 2019.</p>
                </div>
            </div>
        </div>
    </footer>

    <script th:src="@{/js/countUp.min.js}"></script>
    <script>

        $(function() {
            $("#dis").focus();
            countUp();
            countRd();
            setInterval(countUp, 30 * 1000);
            setInterval(countRd, 60 * 1000);
        });

        function countRd() {

            jQuery.ajaxSetup({async:false});
            $.get("/api/cntrd", function(result) {

                    if (result.code == 200) {
                        const options = {
                            duration: 5,
                            suffix: ' clicks!'
                        };
                        let demo = new CountUp('clkcnt', result.count, options);
                        if (!demo.error) {
                            demo.start();
                        }
                    } else {
                        alert("관리자에게 문의하세요.")
                    }
                }
            );
        }


        function countUp() {

            jQuery.ajaxSetup({async:false});
            $.get("/api/cntlink", function(result) {

                    if (result.code == 200) {
                        const options = {
                            duration: 5,
                            suffix: ' links!'
                        };
                        let demo = new CountUp('myTargetElement', result.count, options);
                        if (!demo.error) {
                            demo.start();
                        }
                    } else {
                        alert("관리자에게 문의하세요.")
                    }
                }
            );
        }

        $("#dis").keydown(function (key) {
            if (key.keyCode == 13) {
                key.preventDefault();
                shrink();
            }
        });


        function shrinkAll() {
            $.post("/api/shlks", {async: false, murl: $("#originUrlList").val(),v:'1'}, function (result) {
                var olist="";
                console.log(result);
                $.each(result, function( index, value ) {
                    if(value.code == 200 || value.code ==201){
                        olist = olist+value.shortUrl+'\n';
                    }else{
                        olist = olist+value.message+'\n';
                    }
                    console.log( olist );
                });
                $("#shortUrlList").val(olist);
            });
            countUp();
        }
    </script>
</body>
</html>
