<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="무료 단축 URL,free short url,url,minimize url,free" name="description">
    <meta content="" name="author">

    <title>mlnlmal - minimize your url</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/landing-page.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- AdSens-->
    <script data-ad-client="ca-pub-7216858733478899" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <iframe src="https://coupa.ng/bHZN6O" width="120" height="240" frameborder="0" scrolling="no"></iframe>
                <h3 class="mb-5">비로그인 사용자가 생성한 단축URL은 리다이렉트 100회로 제한됩니다.</h3>
                <iframe src="https://coupa.ng/bHZOhL" width="120" height="240" frameborder="0" scrolling="no"></iframe>
                <h3 class="mb-5">Shortened URLs created by non-login users are limited to 100 redirects.</h3>
                <iframe src="https://coupa.ng/bHZOlz" width="120" height="240" frameborder="0" scrolling="no"></iframe>
                <h2 class="mb-5">Sign up 후 무제한 리다이렉트 단축URL을 만들어 보세요.</h2>
                <iframe src="https://coupa.ng/bHZOEf" width="120" height="240" frameborder="0" scrolling="no"></iframe>
                <h2 class="mb-5">After signing up, create an unlimited redirect URL.</h2>
                <iframe src="https://coupa.ng/bHZOKV" width="120" height="240" frameborder="0" scrolling="no"></iframe>
                <h1 class="mb-5">
                    <a href="http://mlnlmal.ml" style="color: #9fcdff;">mlnlmal.ml</a>
                </h1>
            </div>
        </div>

    </div>
</header>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151667624-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-151667624-1');
</script>
<footer class="footer bg-light">
    <div>
        <div style="text-align: center;">
            <script src="https://ads-partners.coupang.com/g.js"></script>
            <script>
                new PartnersCoupang.G({ id:47287 });
            </script>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <p class="text-muted small mb-4 mb-lg-0">&copy; mlnlmal.ml 2020. by <a href="https://devveb.github.io"
                                                                                       target="_blank">tae.</a></p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
