<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbsft.mlnlmal.mapper.ShortUrlMapper">
    <sql id="table_param">
        idx
        ,origin_url as originUrl
        ,short_url as shortUrl
        ,hit_cnt as hitCnt
        ,rdate as regDate
        ,usr_idx as uidx
    </sql>

	<insert id="insertOriginUrl" parameterType="ShortUrl" useGeneratedKeys="true" keyColumn="idx" keyProperty="idx">
        insert into short_url(origin_url,usr_idx,in_type) values (#{originUrl},#{uidx},#{channel})
    </insert>

    <update id="updateshortUrl" parameterType="ShortUrl">
        update short_url
        set short_url = #{shortUrl}
        where idx = #{idx}
    </update>

    <select id="getOriginUrl" parameterType="UrlUser" resultType="UrlUser">
        update short_url set hit_cnt = hit_cnt +1 where idx = #{idx}
        ;
        select <include refid="table_param"/> from short_url where idx = #{idx}
        ;
    </select>

    <select id="cntOriginUrl" parameterType="UrlUser" resultType="int">
        select count(*) from short_url
        where origin_url = '${originUrl}'
        and usr_idx = #{uidx}
    </select>

    <select id="getShortUrlByOriginUrl" parameterType="ShortUrl" resultType="UrlUser">
        select <include refid="table_param"/> from short_url where origin_url = #{originUrl} and usr_idx = #{uidx} limit 1
    </select>

    <select id="getTotalLinkCount" resultType="int">
        select count(*) from short_url
    </select>

    <select id="getTotalRedirectionCount" resultType="int">
        select count(*) from short_url_redirectin_log
    </select>

    <insert id="registUser" parameterType="UrlUser">
        insert into short_url_user(email,pw,nick)
        values (#{email},#{password},#{nick});
    </insert>

    <insert id="writeRedirectionLog" parameterType="UrlUser">
        insert into short_url_redirectin_log(url_idx) VALUES (#{idx})
    </insert>

    <select id="getUserInfo" parameterType="UrlUser" resultType="UrlUser">
        select idx as uidx,email,nick from short_url_user
        where email = #{email}
        and pw = #{password}
    </select>

    <insert id="writeTryLog" parameterType="String">
        insert into short_url_try_log(try_url) values(#{tryUrl})
    </insert>

    <insert id="insertLinkShareInfo" parameterType="Ourlink">
        insert into urlink_info(link_idx,title) values (#{linkIdx},#{title})
        on duplicate key update
        mdate = now()

    </insert>

    <select id="getBanList" resultType="ShortUrl">
        select * from short_url_ban_domain where banOnOff = 1
    </select>

    <insert id="insertBanTryList" parameterType="UrlUser">
        insert into short_url_ban_list(url) values (#{originUrl})
    </insert>

    <select id="checkEmailDup" parameterType="String" resultType="int">
        select count(*) from urlink_user where email = #{eml}
    </select>

    <select id="getUrlListByUser" parameterType="int" resultType="ShortUrl">
        select
         origin_url as originUrl
        ,short_url as shortUrl
        ,hit_cnt as hitCnt
        ,DATE_FORMAT(rdate,"%Y-%m-%d %h:%m") as regDate
        from short_url
        where usr_idx = #{userIdx}
        and short_url is not null
    </select>

    <select id="getLinkStatByUser" parameterType="int" resultType="HashMap">
        select
            count(*) cnt
            ,ifnull(sum(hit_cnt),0) summ from short_url
        where usr_idx = #{userIdx}
        and short_url is not null
    </select>

    <select id="getLastRedirectLink" resultType="ShortUrl">
    select
        origin_url as originUrl
        ,short_url as shortUrl
    from short_url
    where idx =  (select url_idx from short_url_redirectin_log order by redirection_time desc limit 1)
    </select>


</mapper>
