<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbsft.wslapi.mapper.ShortUrlMapper">
    <sql id="table_param">
        idx
        ,origin_url as originUrl
        ,short_url as shortUrl
        ,hit_cnt as hitCnt
        ,rdate as regDate
    </sql>

	<insert id="insertOriginUrl" parameterType="ShortUrl" useGeneratedKeys="true" keyColumn="idx" keyProperty="idx">
        insert into short_url(origin_url,usr_idx) values (#{originUrl},#{uidx})
    </insert>

    <update id="updateshortUrl" parameterType="ShortUrl">
        update short_url
        set short_url = #{shortUrl}
        where idx = #{idx}
    </update>

    <select id="getOriginUrl" parameterType="ShortUrl" resultType="ShortUrl">
        update short_url set hit_cnt = hit_cnt +1 where idx = #{idx}
        ;
        select <include refid="table_param"/> from short_url where idx = #{idx}
        ;
    </select>

    <select id="cntOriginUrl" parameterType="ShortUrl" resultType="int">
        select count(*) from short_url
        where origin_url = '${originUrl}'
    </select>

    <select id="getShortUrlByOriginUrl" parameterType="ShortUrl" resultType="UrlUser">
        select <include refid="table_param"/> from short_url where origin_url = #{originUrl} limit 1
    </select>

    <select id="getTotalLinkCount" resultType="int">
        select count(*) from short_url
    </select>

    <insert id="registUser" parameterType="UrlUser">
        insert into short_url_user(email,pw,type)
        values (#{email},#{password},#{type});
    </insert>

    <insert id="writeRedirectionLog" parameterType="UrlUser">
        insert into short_url_redirectin_log(url_idx) VALUES (#{idx})
    </insert>

    <select id="getUserInfo" parameterType="UrlUser" resultType="UrlUser">
        select idx as uidx,email from short_url_user
        where email = #{email}
        and pw = #{password}
    </select>
</mapper>
